<div class="container">
    <div class="col">

    </div>
    <footer class="py-5">
        <div class="row">
            <div class="col-2 mb-3">
                <h6>SHOPPING TOOLS</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fm-hover">Trade-In Value</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fm-hover">Build Your Toyota</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fm-hover">Search Inventory</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fm-hover">Find a Dealer</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fm-hover">SmartPath</a></li>
                </ul>
            </div>

            <div class="col-2 mb-3 mx-3">
                <h6>VEHICLES</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">All Toyota Vehicles</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">SUVs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trucks</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cars</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Crossovers</a></li>
                </ul>
            </div>

            <div class="col-2 mb-3 mx-3">
                <h6>HELPFUL LINKS</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Dealers</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Deals and Incentives</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Audio Multimedia</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mobile Phone Compatibility</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Connected Services</a></li>
                </ul>
            </div>

            <div class="col-2 mb-3 mx-3">
                <h6>OWNERS</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Owners Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ToyotaCare & Maintenance Plans
                        </a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Safety Recalls & Service
                            Campaigns</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Service Centers</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Service Specials</a></li>
                </ul>
            </div>

            <div class="col-2 mb-3 mx-3">
                <h6>ABOUT TOYOTA</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Company</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Toyota Outfitters</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Newsroom</a></li>
                </ul>
            </div>
        </div>

        <!-- <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2022 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </div> -->
    </footer>
</div>