<div class="container-fluid card w-80 color-change">
  <div class="row">
      <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
          <div class="card">
              <div class="card-horizontal">
                  <div class="img-square-wrapper">
                      <img class="img-responsive" src="./assets/letsgoplaces.avif" alt="Card image cap">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Toyota Brand</h4>
                      <p class="card-text">Inspired by what's possible</p>
                      <a href="#" class="btn btn-primary">Button</a>
                  </div>
              </div>
              <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
              </div>
          </div>
      </div>
  </div>
</div>