.tlist {
  display: flex;
  flex-flow: row wrap;
}

.tlist li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  background: hsla(0, 0%, 100%, .8);
  padding: 1.618em;
  margin-bottom: 1.618em;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  list-style-image: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.tlist li:nth-child(2n+1) {
  clear: left;
}

.tlist .head {
  background: #fff;
  padding: 1.618em;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin: -1.618em -1.618em 1.618em;
}

.tlist .pfp {
  float: left;
  margin-right: 24px;
}