<!-- <div class="container-fluid card w-80 color-change resize1">
  <div class="row">
      <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
          <div class="card">
              <div class="card-horizontal">
                  <div class="img-square-wrapper">
                      <img class="img-responsive" src="./assets/letsgoplaces.avif" alt="Card image cap">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Toyota Brand</h4>
                      <p class="card-text">Inspired by what's possible</p>
                      <a href="#" class="btn btn-primary">Learn more</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->

<section>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4">
            <img src="./assets/letsgoplaces.avif" class="w-100">
          </div>
          <div class="col-md-8 px-5">
            <div class="card-block px-5">
              <p class="card-text">FEATURED STORIES</p>
              <h4 class="card-title">Toyota Brand</h4>
              <p class="card-text">Inspired by what's possible </p>
              
              <a href={{link}} class="btn btn-primary">Learn More</a>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>