<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Your Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Your Subject: </label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="[ Please Change This to the Right Category From This List ]">[ Please Change This to the
                    Right Category From This List ]</option>
                <option value="Feedback - General">Feedback - General</option>
                <option value="Feedback - Hades">Feedback - Hades</option>
                <option value="Feedback - Pyre">Feedback - Pyre</option>
                <option value="Feedback - Transistor">Feedback - Transistor</option>
                <option value="Feedback - Bastion">Feedback - Bastion</option>
                <option value="Merchandise - General Inquiry">Merchandise - General Inquiry</option>
                <option value="Media Inquiry - Code Request">Media Inquiry - Code Request</option>
                <option value="Media Inquiry - Interview Request">Media Inquiry - Interview Request</option>
                <option value="Media Inquiry - Music, Video, and Streaming">Media Inquiry - Music, Video, and Streaming
                </option>
                <option value="Media Inquiry - Special Events">Media Inquiry - Special Events</option>
                <option value="Business Inquiry - Fan Merchandise">Business Inquiry - Fan Merchandise</option>
                <option value="Business Inquiry - Licensing">Business Inquiry - Licensing</option>
                <option value="Business Inquiry - Publishing">Business Inquiry - Publishing</option>
                <option value="Business Inquiry - Other">Business Inquiry - Other</option>
                <option value="Technical Support - Hades - PC">Technical Support - Hades - PC</option>
                <option value="Technical Support - Hades - Mac">Technical Support - Hades - Mac</option>
                <option value="Technical Support - Hades - Switch">Technical Support - Hades - Switch</option>
                <option value="Technical Support - Hades - PlayStation">Technical Support - Hades - PlayStation</option>
                <option value="Technical Support - Hades - Xbox">Technical Support - Hades - Xbox</option>
                <option value="Technical Support - Pyre">Technical Support - Pyre</option>
                <option value="Technical Support - Transistor">Technical Support - Transistor</option>
                <option value="Technical Support - Bastion">Technical Support - Bastion</option>
                <option value="Technical Support - Other">Technical Support - Other</option>
                <option value="Career or Internship Inquiry">Career or Internship Inquiry</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
        </div>
    </form>
</div>