
    <div style="background-image: url('//images.ctfassets.net/5owu3y35gz1g/3nKaNYPsDSvO3l2uJsJlz5/61465c49e2afa9112851b89ca6404b4f/H2_Web_1200x500_Background_Dark.png?w=1200&h=500&q=80&fit=fill');
    height: 500px;">
        <!-- images.ctfassets.net/5owu3y35gz1g/3nKaNYPsDSvO3l2uJsJlz5/61465c49e2afa9112851b89ca6404b4f/H2_Web_1200x500_Background_Dark.png?w=1200&h=500&q=80&fit=fill -->
        <div>
            <img src="./assets/H2_PackArt_600px.png" style="width: 393px; height: 285px; float: left;
        margin-right: 40px;" class="where" alt="..." href="">;

            <a class="where" href="...">
                <h2>HADES II</h2>
                <div>
                    <p>
                        <b>Hades II</b>
                        is the bewitching sequel to our rogue-like dungeon crawler, in which you'll battle beyond the
                        Underworld using dark sorcery to take on the Titan of Time.
                    </p>
                </div>
            </a>
        </div>
    </div>