.bg {
  background-image: url("/../../../assets/H2_Web_1200x500_Background_Dark.png");
  background-color: palevioletred;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.where {
  padding: 3.236em;
  color: #fff;
  background-size: cover;
  min-height: 500px;
}

.pos-style {
  max-width: 300px;
  float: left;
  margin-right: 40px;
}