<section class="pb-4">
    <div class="small-image-feature-container">
        <section class="p-4 text-center w-100">
            <div id="carouselExampleCaptions" class="carousel slide" data-mdb-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active my-indicator"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="my-indicator"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="my-indicator"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" class="my-indicator"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" class="my-indicator"
                        aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/toyotapic1.avif" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <video class="img-fluid d-block w-100" autoplay loop muted alt="...">
                            <source src="./assets/toyotavid1.mp4" type="video/mp4">
                        </video>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <video class="img-fluid d-block w-100" autoplay loop muted alt="...">
                            <source src="./assets/toyotavid2.mp4" type="video/mp4">
                        </video>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/toyotapic2.avif" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Fourth slide label</h5>
                            <p>Some representative placeholder content for the fourth slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <video class="img-fluid d-block w-100" autoplay loop muted alt="...">
                            <source src="./assets/toyotavid3.mp4" type="video/mp4">
                        </video>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Fifth slide label</h5>
                            <p>Some representative placeholder content for the fifth slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>


            </div>
        </section>
    </div>
</section>

<source media="(min-width: 1920px)" data-srcset="https://toyotaassets.scene7.com/is/image/toyota/4x3_FC_Service?fmt=jpeg&amp;fit=crop&amp;qlt=90&amp;wid=864" data-file-reference="/content/dam/toyota/homepage/mega-tiles/4x3_FC_Service.png" data-query="max" srcset="https://toyotaassets.scene7.com/is/image/toyota/4x3_FC_Service?fmt=jpeg&amp;fit=crop&amp;qlt=90&amp;wid=864">