<app-top-nav-bar>Loading...</app-top-nav-bar>
<fm-promotions-carousel>Loading...</fm-promotions-carousel>
<div class="d-flex justify-content-center">
    <p class="tabbed-container_title fs-1 font-weight-bold">
        Explore All Vehicles
    </p>
</div>
<div class="container-bg">
    <div class = "header text-bg d-flex justify-content-center mb-2px ">
        <p class= "font-weight-bold">ELECTRIFIED
            <br>
        </p>
    </div>
    <div class = "header text-bg d-flex justify-content-center">
        
        <div class = "text-bg d-flex justify-content-center">
            
        </div>
        <h4> Building an electrified
            <br>
            <p class = "d-flex justify-content-center">future, today.</p>
        </h4>
    </div>
    <div class="container-bg">
    <div class="container">
        <fm-promotions-carousel>Loading...</fm-promotions-carousel>
    </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <p class="tabbed-container_title fs-1 font-weight-bold">
        Discover Toyota
    </p>
</div>
<div class = "resize1">
    <fm-horizontal-card >Loading...</fm-horizontal-card>
    <fm-vertical-card>Loading...</fm-vertical-card>
</div>


<app-footer>Loading...</app-footer>
<!-- <fm-social-footer>Loading...</fm-social-footer> -->