<app-top-nav-bar>Loading...</app-top-nav-bar>
<fm-promotions-carousel>Loading...</fm-promotions-carousel>
<div class="d-flex justify-content-center">
    <p class="tabbed-container_title fs-1 font-weight-bold">
        Explore All Vehicles
    </p>
</div>
<fm-promotions-carousel>Loading...</fm-promotions-carousel>
<div class="d-flex justify-content-center">
    <p class="tabbed-container_title fs-1 font-weight-bold">
        Discover Toyota
    </p>
</div>
<fm-horizontal-card>Loading...</fm-horizontal-card>
<fm-vertical-card>Loading...</fm-vertical-card>
<app-footer>Loading...</app-footer>