<div class="title">
    <div class="container">
        <h1 style="color: rgb(228, 226, 225);">Contact Us</h1>
    </div>
</div>

<div class="container contact">
    <div class="container-fluid d-flex flex-row">
        <div class="half">
            <div class="p-2">
                <h2>Got a question or comment for us at Supergiant Games?</h2>
                <p>Please read the following, and if it doesn't help, fill in the fields at right to contact our team.
                    For
                    quick
                    questions and comments, you may also contact <a href="/">@SupergiantGames</a> on Twitter.</p>
                <p><b>Hades II: </b>Our first-ever sequel is in development! Please read the <a href="/"><u>full
                            FAQ</u></a>
                    for
                    what questions we can
                    answer now about the game.</p>
                <p><b>Technical Support:</b> We have a self-service <a href="/">Knowledge Base</a> with solutions to
                    most
                    types
                    of
                    issues reported by players. If you don't find a solution there, when emailing, please include any
                    relevant
                    info about your system.</p>
                <p><b>Video, Music, and Streaming:</b> We have a <a href="/">Policy on Let's Play Videos</a>
                    that should answer most questions about using gameplay footage or music from our games in videos or
                    streams.
                </p>
                <p><b>Fan Merchandise:</b> We have a <a href="/">Policy on Fan Merchandise</a>
                    that should answer most questions.</p>
                <p><b>Career Opportunities:</b> We sometimes get questions about job opportunities or internships. At
                    the
                    moment
                    we aren't seeking to expand our team. We'll update this space if that changes.
                </p>
            </div>
        </div>
        <div class="half ">
            <div>
                <fm-form-bars>Loading...</fm-form-bars>
            </div>
        </div>

    </div>

</div>