ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.container-bg {
  background-color: #353d48;
}

.text-bg{
  color: white;
}

.home-title {
  background: #fff;
  padding: 1.618em 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.body-wrap{
  font-family:serif;
  min-height: 100%;
  background: #f2efec;
  text-align: center;
  font-size: 175%;
}