<div><fm-promotions-carousel>Loading...</fm-promotions-carousel></div>
<div>
    <div class="d-flex justify-content-center">
        <p class="tabbed-container_title fs-1 font-weight-bold">
            Explore All Vehicles
        </p>
    </div>
    <div>
        <img src="./assets/letsgoplaces.avif" class="d-block w-100" alt="...">
        <a routerLink= "Brand" class="btn btn-primary">See What We're About</a>
    </div>
    <app-web-navbar>Loading...</app-web-navbar>
</div>
<div>
    <div class = "tabbed-container-wrapper">

    </div>
</div>
<div class="container-bg container-fluid">
    <div class="wrapper">
        <div class="header text-bg d-flex justify-content-center mb-2px ">
            <p class="font-weight-bold">ELECTRIFIED
                <br>
            </p>
        </div>
        <div class="header text-bg d-flex justify-content-center">
            <h4> Building an electrified
                <br>
                <p class="d-flex justify-content-center">future, today.</p>
            </h4>
        </div>
        <div class="container-bg">
            <div class="container">
                <fm-promotions-carousel>Loading...</fm-promotions-carousel>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <p class="tabbed-container_title fs-1 font-weight-bold">
        Discover Toyota
    </p>
</div>
<div class="resize1">
    <fm-horizontal-card link = "Toyota-Brand">Loading...</fm-horizontal-card>
    <fm-vertical-card img = "assets\4x3_smartpath.avif" 
        tex ="An Easier Way to Buy Your Next Toyota" but = "Learn More" link ="Smart-Path">Loading...</fm-vertical-card>
    <fm-vertical-card img = "assets\4x3_FC_Service.avif" tex = "Toyota Cares"
        but = "See Details" link = "Toyota-Cares">Loading...</fm-vertical-card>
</div>